<h1>Editing ward_type</h1>

<% form_for(@ward_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ward_type %><br />
    <%= f.text_field :ward_type %>
  </p>
  <p>
    <%= f.label :daily_price %><br />
    <%= f.text_field :daily_price %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ward_type %> |
<%= link_to 'Back', ward_types_path %>