<p>
  <b>Ward type:</b>
  <%=h @ward_type.ward_type %>
</p>
<p>
  <b>Product ID:</b>
  <%=h @ward_type.product_id %>
</p>

<p>
  <b>Daily price:</b>
  <%=h @ward_type.daily_price %>
</p>

<p>
  <b>Version:</b>
  <%=h @ward_type.version %>
</p>


<%= link_to 'Edit', edit_ward_type_path(@ward_type) %> |
<%= link_to 'Back', ward_types_path %>