<h1>Listing payments</h1>

<table>
  <tr>
    <th>Date</td>
    <th>Payment-id</td>
    <th>Type</th>
    <th>Amount</th>
    <th>Patient</th>
    <th>Receptionist</th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%=h payment.created_at.to_date%>
    <td><%=h payment.id %></td>
    <td><%=h PayType.find(payment.pay_type).name %></td>
    <td><%=h payment.amount %></td>
    <td><%=h PatientService.get_patient(Patient.find(Account.find(payment.account_id).patient_id).person).name%></td>
    <td><%=h User.find(payment.user_id).name %></td>
    
    
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New payment (Summary)', :controller => :payments, :action => :summary, :account_id => params[:account_id] %>
