<p>
  <b>Pay type:</b>
  <%=h @payment.pay_type %>
</p>

<p>
  <b>Amount:</b>
  <%=h @payment.amount %>
</p>
<p>
  <b>Receptionist:</b>
  <%=h User.find(@payment.user_id).name %>
</p>
<p>
  <b>Account_id:</b>
  <%=h @payment.account_id %>
</p>
<p>
  <b>Items</b><br>
  <% @items.each do |item| %>
    <%= link_to item.name, item %><br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>