<h1>Editing medical_scheme</h1>

<% form_for(@medical_scheme) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </p>
  <p>
    <%= f.label :scheme_type %><br />
    <%= f.text_field :scheme_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @medical_scheme %> |
<%= link_to 'Back', medical_schemes_path %>