<p>
  <b>Patient:</b>
  <%=h @account.patient_id %>
</p>

<p>
  <b>Balance:</b>
  <%=h @account.balance %>
</p>
<hr>

<p>
  <b>Add New Item</b><br/>
  <%= link_to 'New Item: Service', :controller => "items", :action => "new", :account_id => @account.id, :type => "service" %><br/>
  <%= link_to 'New Item: Drug', :controller => "items", :action => "new", :account_id => @account.id, :type => "drug" %><br/>
  <%= link_to 'New Item: Admission', :controller => "items", :action => "new", :account_id => @account.id, :type => "admission" %><br/>
</p>

<p>
  <b>Items on account</b></br>
  <% @items.each do |item|%>
  <span><%=   item.product_id%></span>
  <span><%=   item.final_price%></span>
  <span><%=   item.is_paid%></span>
  
  <%= link_to 'Show', item %><br/>
  <% end %>
</p>


<hr>

<p>
  <b>Medical Schemes</b><br/>
  <% @schemes_array.each do |medical_scheme|%>
  <%   account_scheme = AccountScheme.find_by_medical_scheme_id(medical_scheme.id)%>
  <%=  medical_scheme.name %>
  <%=  link_to 'Show', medical_scheme %>
  <%=  link_to 'Remove',  account_scheme, :confirm => 'Are you sure?', :method => :delete %><br/>
  <% end %>
</p>


<p>
  Add medical scheme <br/>
  <%= link_to 'Add Medical Scheme', :controller => "account_schemes", :action => "new", :account_id => @account %>
</p>


<hr>
<%= link_to 'Edit Account', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>